@import "../components/navigation/BottomNavigator/BottomNavigator.css";

@tailwind base;
@tailwind components;

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/montserrat/Montserrat-Regular.otf) format("opentype");
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/montserrat/Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/montserrat/Montserrat-Medium.otf) format("opentype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/montserrat/Montserrat-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/montserrat/Montserrat-Bold.otf) format("opentype");
}

.btn-blue {
  @apply bg-red-300 text-lg text-white font-bold py-2 px-4 rounded;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.login-bg {
  filter: blur(4px);
  background-color: black;
  opacity: 100%;
}

@tailwind utilities;

html {

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, '1942', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;

}

.morph-button {
  transition-property: width, max-width, max-height, border-color, border-radius, background-color;
  transition-duration: 350ms, 350ms, 350ms, 200ms, 200ms, 400ms;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition-delay: 100ms, 100ms, 200ms, 400ms, 400ms, 200ms;
/*
  //transition-delay: 200ms

&.open
  z-index: 1000
  width: 90rem
  max-width: calc(100vw - 2rem)
  max-height: calc(100vh - 2rem)
  border-color: transparent
  border-radius: 1rem
  background-color: #394144
  transition-delay: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms
*/

}
